{% extends 'base.html' %} {% block content %} {% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Create a Monster</h1>
{% endif %}

<!-- Leaving the action attribute empty in an HTML form, makes the form post to the same URL that's in the address bar -->
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <BR>
    <input type="submit" value="Create a Monster" class="btn">
    <BR>
    <BR>
</form>

{% endblock %}